body {
    background-color:lightgray
}
.foody {font-size: 200% }

.foodblock {
    width: 100%;
    font-size: 250%;
    border-radius: 25px;
    border: 1px solid #000000;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow:hidden;
}

.foodname {
    padding-left: 15px;
    text-align:left;
    font-size:120%;
}

.fooddate {
    float: right;
    text-align:right;
    position:relative;
    font-size:60%;
    padding-right: 10px;
    padding-top: 3px;
}