<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="/public/css/food.css">
</head>
<body>
	<div ng-app="foodynoms">
		<div ng-controller="FoodController" >
			<div ng-repeat="food in foodData" class="foodblock" ng-click="moreInfo($index)">
				<span class="foodname">
					{{food.name}}
				</span>
				<div id={{'info'+$index}}>
					{{''}}
				</div>
		    </div>
	    </div>
    </div>
	<script src="/public/js/food.js"></script>
</body>
</html> 